 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Registration Contest</title>
 </head>
 <body>
   <p>Project Number: <%= @registration.serial %></p>
   <%= raw(General.first.registration_contest_mail) %>
 </body>
</html>
