 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Registration Contest</title>
 </head>
 <body>
  <p style="font-size: 12.8px; font-weight:bold">
    <% if @registration.locale == "pl" %>
      Numer projektu:
    <% else %>
      Project number:
    <% end %>

    <span
      style="font-size: 16px;text-transform:uppercase;color:<%= raw(General.first.secondary_color) %>"
    ><%= @registration.serial %></span>
   </p>
   <%= @registration.locale == "pl" ? raw(General.first.registration_contest_mail_PL) : raw(General.first.registration_contest_mail) %>
 </body>
</html>
