 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Rejestracja Konferencja INAW Biennale</title>
 </head>
 <body>


<div id=":qx" class="ii gt m1510797d8f7c3388 adP adO"><div id=":qt" class="a3s" style="overflow: hidden;"><div style="word-wrap:break-word"><div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><div><span style="color:rgb(66,66,66)">Dziękujemy za rejestrację!&nbsp;</span></div></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><span style="color:rgb(66,66,66)">
Prosimy o nadesłanie tematu wraz z materiałami do publikacji do 15.02.2016 na adres mailowy <a href="mailto:info@inaw.pl">info@inaw.pl</a> <a href="http://inaw.pl/pl/instruction">(wytyczne)</a>.
<br>
Niżej znajduje się dokument PDF, który prosimy wydrukować i podpisać. Jest to jednoznaczne z akceptacją regulaminu Biennale INAW 2016, dostępnego na stronie</span>&nbsp;<a href="http://www.inaw.pl/" target="_blank">www.inaw.pl</a><span style="color:rgb(66,66,66)">. Podpisany formularz jest warunkiem do posługiwania się Twoją Prezentacją m.in. umieszczania go w całości lub fragmentach na stronie</span>&nbsp;<a href="http://www.inaw.pl/" target="_blank">www.inaw.pl</a>&nbsp;<span style="color:rgb(66,66,66)">i w późniejszych publikacjach.</span>
<span style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0p;color:rgb(66,66,66)">
	Warunkiem uczestnictwa w konferencji jest wniesienie opłaty w wysokości 450zł/120€. <br> <br>
	Dane do przelewu: <br> <br>

	Nazwa banku: BZ WBK S.A. 24 Oddział w Krakowie <br>
	Numer Konta: 45 1500 1487 1214 8005 4502 0000 <br>
	kod BIC-SWIFT (przelewy zagraniczne): WBKPPLPP <br>
	<span style="color:rgb(66,66,66)">
	Nazwa Instytucji: Akademia Sztuk Pięknych im. Jana Matejki w Krakowie <br><br>
	Adres: Plac Matejki 13 <br>
	Kod pocztowy: 31-157 Kraków <br> 
	Kraj: Polska <br>
	
	Tytułem: KONFERENCJA – MIĘDZYNARODOWE BIENNALE ARCHITEKTURY WNĘTRZ 2016 <br>
	Wysokość opłaty: <br>
	450zł / 120€ <br> <br>

	Prosimy o przesłanie potwierdzenia przelewu. <br>
	</span>
</span>
</div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><br></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><br></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><font color="#0096ff" face="Arial"><strong>4</strong><strong></strong><strong>&nbsp;Międzynarodowe Biennale<br>Architektury Wnętrz INAW&nbsp;2016</strong></font></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><strong><font color="#0096ff" face="Arial">7-13.3.2016 Cracow</font></strong></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><strong><font face="Arial"><br></font></strong></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><div style="margin:0px;line-height:normal;color:rgb(0,150,255)"><font face="Arial" style="font-size:12px">Akademia Sztuk Pięknych</font></div><div style="margin:0px;line-height:normal;color:rgb(0,150,255)"><font face="Arial" style="font-size:12px">im. Jana Matejki w Krakowie</font></div><div style="margin:0px;line-height:normal;color:rgb(0,150,255)"><font face="Arial" style="font-size:12px">Wydział Architektury Wnętrz</font></div></div><div class="yj6qo"></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px" class="adL"><br></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px" class="adL"></div></div></div><div class="adL"><br></div><div style="word-wrap:break-word" class="adL"><div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><br></div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"></div></div></div><div class="adL"><br></div><div style="word-wrap:break-word" class="adL"><div><div style="font-family:Calibri;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"></div><br></div><br></div><div class="adL"><br></div></div></div>

 </body>
</html>


