<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Rejestracja Konferencja INAW Biennale</title>
 </head>
 <body>
	 <%= raw(General.first.registration_conference_mail) %>
 </body>
</html>


