 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Rejstracja Konkurs</title>
 </head>
 <body>
  <p>Numer projektu: <%= @registration.serial %></p>
  <%= raw(General.first.registration_contest_mail_PL) %>
 </body>
</html>
