
 <h3 style="text-aligh:center"> Energy – Self/ie – Space </h3>

<p style="text-align:center"> <strong>Find a solution for places nearby.</strong>		</p> 

<p>Energy - function, technology, emotion, renewable, recuperated, innovated, 
interpretation, creation, dialogue, motion, ecological, recreated, reproduced, 
restored, organic, environmental </p>

<p>Self/ie - identification, culture, identity, self-sufficient, self-contained, idealistic, 
ideal, own, autonomic, individual, unique, creative, creation. </p>

<p>Space - place, zona, community, town, interior, exterior, home, homeless, open space, landscape, communications, identity, volume, cubature, limited, limits,gravitation, distances, capacity, airspace </p> 
<p>
2. Requirements of the competition:
The competition work should include guidelines for the design:
a. ideas and design assumptions
b. indication the place of realization
c. characteristics and method of use
Approved a presentation of the project in the following forms to choose from**:
a. 70 x 100cm (max. 3 pcs)
please attach images (.jpg, .jpeg, .png) in your online registration
b. model presentation (of the area. max. 2.1m2)
please attach photographs (.jpg, .jpeg, .png) of the model in your online 
registration
c. multimedia presentation techniques (mov, wmv)
please attach images (.jpg, .jpeg, .png) of the film frames in your online 
registration
</p>