// Place all the styles related to the PartnerCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ordering-table {
  .ordering-container {
    display: flex;
    flex-direction: column;

    .ordering-movable {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgrey;

      .table-name, .table-image {
        width: 150px;
        margin-bottom: 25px;
      }
    }
  }

  &__row {
    height: 50px;
    width: 100%;

    img {
      width: 250px;
    }
  }

  &__attribute {
    width: 200px;
  }
}
