// Place all the styles related to the Admin::Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration{
	.field{
		float: left;
		padding: 0px 25px 20px 0;
		text-align: left;
		margin: 0;
	}

	h3{ margin: 25px 0; }

	.half{width: 50%;}
	.full{width: 100%;}
	.quarter{width: 25%;}

	label{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 13px;
		letter-spacing: 1px;
		color: #808080;
		font-weight: 400;
		position: relative;
		left: 5px;
	 }

	input[type = "text"] {
		width: 100%;
		line-height: 50px;
		font-size: 18px;
		border: 1px solid lightgrey;
		box-shadow: 0 0 2px lightgrey;
		color: black;
		letter-spacing: 0.05em;
		letter-spacing: 2px;
	  padding: 0 16px;
	  font-weight: 500;
	}

	input:focus{
		outline-width: 0;
	}

	.validate .tick{opacity: 0}

	.tick-container{
		position: relative;
	}

	.terms_of_service{
		text-align: center;
		padding-top: 20px;

		.tick{position: relative; top: 6px;}

		.box{
	    position: absolute;
	    width: 25px;
	    height: 25px;
	    left: 0px;
	    bottom: 0px;
	    opacity: 0.5;
		}

		input[type='checkbox']{
	    position: absolute;
	    left: 0px;
	    width: 25px;
	    height: 25px;
	    top: -8px;
	    opacity: 0;
		}

		p{margin-left: 20px;}
	 }

	 .field_with_errors{
	 	margin: 0;
	 	padding: 0;

		label{
			border-bottom: 5px solid lightcoral;
			margin-bottom: 0;
			font-weight: 400;
		}

	 	input{
	 		border: 1px solid lightcoral;
	 	}
	 }

	 input.validate.checked{border: 1px solid lightcoral;}
	 span.validate{
	 	border-bottom: 0;
	 	p{
	 			color: grey;
	 	}
	 }

	.validate_checkbox{
		border-left: 0;
		border-right: 0;
		border-top: 0;
	 }




	 .upload, .upload-desc{
		line-height: 55px;
		transition: 0.3s;
		text-align: center;
		position: relative;
		color: white;
	 }

	 .uploaded{ background: #f2f5f6 !important; color: #808080 }

	 .upload-status{
	 	margin-left: -4px;
	 	position: absolute;
	 	text-align: center;
	 	left: 0;
	 	width: 100%;
	 	color: inherit;
	 	font-weight: 500;
	 	letter-spacing: 2px;
	 }



	.upload:hover{ cursor: pointer; background:  lightgrey}
	.upload-desc:hover{ cursor: pointer; background:  lightgrey}

	.col{padding: 0}
	.col:nth-child(1){ padding: 0 15px 0 0; }
	.col:nth-child(2){ padding: 0 5px; }
	.col:nth-child(3){ padding: 0 0 0 15px; }

	input[type="file"]{
		opacity: 0;
		overflow: hidden;
		height: 52px;
		width: 100%;
	}

	input[type="file"]:hover{cursor: pointer;}

	.submit{
		margin-top: 45px;
		float: left;
	}

	.close{
		position: absolute;
		// top: -20px;
		right: 0px;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		svg{
			overflow: visible;
		}
	}

	.close:hover{outline: 0;}
}

.registration .static_form{
	input[type='checkbox']{ opacity: 1 ; position: static ; width: 15px; height: 15px; }
	input[type='file']{opacity: 1; padding: 15px;}
	.upload-status{display: none;}
}

	.field_with_errors{ display: inherit; }

#error_explanation{
	ul{margin-bottom: 40px;}
	li { text-align: left; font-family: 'Hind'; letter-spacing: 2px; color: lightcoral }
}
