<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @newsaddresse.email %>
</p>

<%= link_to 'Edit', edit_admin_newsaddress_path(@newsaddresse) %> |
<%= link_to 'Back', admin_newsaddresses_path %>
