

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 103px 0px 100px 0px;padding: 0px;border: none;width: 793px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 45px;padding: 0px;border:none;width: 748px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 54px 0px 0px 45px;padding: 0px;border:none;width: 748px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 214px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 534px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 130px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:623px;left:45px;z-index:-1;width:445px;height:216px;}
#page_1 #dimg1 #img1 {width:445px;height:216px;}




#page_2 {position:relative; overflow: hidden;margin: 74px 0px 95px 45px;padding: 0px;border: none;width: 748px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 748px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 478px 0px 0px 0px;padding: 0px;border:none;width: 514px;overflow: hidden;}





#page_3 {position:relative; overflow: hidden;margin: 74px 0px 100px 45px;padding: 0px;border: none;width: 748px;}
#page_3 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 748px;overflow: hidden;}
#page_3 #id_2 {border:none;margin: 34px 0px 0px 0px;padding: 0px;border:none;width: 748px;overflow: hidden;}
#page_3 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 213px;overflow: hidden;}
#page_3 #id_2 #id_2_2 {float:left;border:none;margin: 3px 0px 0px 0px;padding: 0px;border:none;width: 535px;overflow: hidden;}
#page_3 #id_3 {border:none;margin: 97px 0px 0px 214px;padding: 0px;border:none;width: 534px;overflow: hidden;}
#page_3 #id_4 {border:none;margin: 147px 0px 0px 0px;padding: 0px;border:none;width: 748px;overflow: hidden;}

#page_3 #dimg1 {position:absolute;top:396px;left:213px;z-index:-1;width:488px;height:345px;}
#page_3 #dimg1 #img1 {width:488px;height:345px;}




.ft0{font: bold 20px 'Helvetica';color: #0096ff;line-height: 24px;position: relative; bottom: 8px;}
.ft1{font: bold 29px 'Helvetica';color: #0096ff;line-height: 34px;}
.ft2{font: 12px 'Arial';color: #0096ff;line-height: 15px;}
.ft3{font: 13px 'Arial';color: #0096ff;line-height: 16px;}
.ft4{font: 9px 'Arial';color: #606060;line-height: 18px;position: relative; bottom: 4px;}
.ft5{font: 13px 'Arial';color: #606060;line-height: 22px;}
.ft6{font: 13px 'Arial';color: #606060;line-height: 16px;}
.ft7{font: 13px 'MS PGothic';color: #606060;line-height: 22px;}
.ft8{font: 13px 'Arial';color: #606060;line-height: 23px;}
.ft9{font: 13px 'Arial';color: #606060;line-height: 21px;}
.ft10{font: bold 11px 'Helvetica';color: #0096ff;line-height: 14px;position: relative; bottom: 4px;}
.ft11{font: bold 16px 'Helvetica';color: #0096ff;line-height: 19px;}
.ft12{font: 1px 'Arial';line-height: 1px;}
.ft13{font: 1px 'Arial';line-height: 13px;}
.ft14{font: 11px 'Arial';color: #89847f;line-height: 14px;}
.ft15{font: 1px 'Arial';line-height: 4px;}
.ft16{font: 1px 'Arial';line-height: 5px;}
.ft17{font: 15px 'Arial';line-height: 17px;}
.ft18{font: 12px 'Arial';color: #89847f;line-height: 20px;}
.ft19{font: 12px 'Arial';color: #89847f;line-height: 19px;}
.ft20{font: 12px 'Arial';color: #89847f;line-height: 15px;}
.ft21{font: 12px 'Arial';color: #89847f;margin-left: 5px;line-height: 15px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p3{text-align: left;padding-right: 50px;margin-top: 26px;margin-bottom: 0px;}
.p4{text-align: justify;padding-right: 68px;margin-top: 22px;margin-bottom: 0px;}
.p5{text-align: justify;padding-right: 68px;margin-top: 2px;margin-bottom: 0px;}
.p6{text-align: left;padding-right: 70px;margin-top: 0px;margin-bottom: 0px;}
.p7{text-align: left;margin-top: 23px;margin-bottom: 0px;}
.p8{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p9{text-align: right;padding-right: 313px;margin-top: 0px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 259px;margin-top: 5px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 45px;margin-top: 69px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 45px;margin-top: 1px;margin-bottom: 0px;}
.p13{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;padding-left: 6px;margin-top: 7px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 6px;margin-top: 41px;margin-bottom: 0px;}
.p18{text-align: justify;padding-left: 1px;padding-right: 76px;margin-top: 60px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 1px;padding-right: 69px;margin-top: 0px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 9px;margin-top: 2px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 9px;margin-top: 4px;margin-bottom: 0px;}
.p22{text-align: justify;padding-left: 9px;margin-top: 5px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 214px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 482px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 300px;vertical-align: bottom;}
.td3{border-right: #e7e6e5 1px solid;padding: 0px;margin: 0px;width: 244px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 243px;vertical-align: bottom;}
.td5{border-right: #e7e6e5 1px solid;border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 244px;vertical-align: bottom;}
.td6{border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 243px;vertical-align: bottom;}
.td7{border-left: #c4c2bf 1px solid;border-right: #e7e6e5 1px solid;padding: 0px;margin: 0px;width: 243px;vertical-align: bottom;}
.td8{border-right: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;}
.td9{border-left: #c4c2bf 1px solid;border-right: #e7e6e5 1px solid;border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 243px;vertical-align: bottom;}
.td10{border-right: #c4c2bf 1px solid;border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 245px;vertical-align: bottom;}
.td12{border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 245px;vertical-align: bottom;}
.td13{border-left: #c4c2bf 1px solid;border-bottom: #c4c2bf 1px solid;padding: 0px;margin: 0px;width: 244px;vertical-align: bottom;}

.tr0{height: 22px;}
.tr1{height: 16px;}
.tr2{height: 29px;}
.tr3{height: 13px;}
.tr4{height: 44px;}
.tr5{height: 21px;}
.tr6{height: 23px;}
.tr7{height: 20px;}
.tr8{height: 4px;}
.tr9{height: 19px;}
.tr10{height: 5px;}
.tr11{height: 27px;}
.tr12{height: 26px;}

.t0{width: 696px;margin-top: 28px;font: 13px 'Arial';color: #606060;}
.t1{width: 514px;font: 12px 'Arial';color: #0096ff;}
.t2{width: 488px;font: 11px 'Arial';color: #89847f;}

