// Place all the styles related to the PartnerCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.partner-categories__partner-table, .partner-categories__categories-table {
  .ordering-container{
    display: flex;
    flex-direction: column;

    .ordering-movable{
      flex-direction: column-reverses;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgrey;
      .table-name, .table-image{
        width: 150px;
        margin-bottom: 25px;
      }
    }
  }

  .partner-categories__category-name {
    width: 200px;
    height: 50px;
  }

  .partner-categories__partner-row {
    img {
      width: 50px;
    }
  }
}
