// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration-new-form {
	.header {
		margin-top: 50px;
	}

	input[type="file"]{
		opacity: 0;
		overflow: hidden;
		height: 52px;
		width: 100%;
	}

	input[type="file"]:hover{cursor: pointer;}
}

.registration{
	.container-fluid{
		@media(min-width: 768px){ padding: 50px 120px;}
		padding: 50px 60px;
	}
}

.disabled{
	background: lightgrey;
}

.disabled:hover{
	background: lightgrey;
	color: white;
}

.backdrop{
 transition: .9s cubic-bezier(.77,0,.175,1);
 position: fixed;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: -1;
 background: white;
 opacity: 0;
}

.backdrop.cover{z-index: 10; opacity: 1;}

.modal-content{
	border-radius: 0;
	max-width: 760px;
	margin: 0 auto;

	#error_explanation ul{
		margin-bottom: 0;
		padding-left: 20px
	}
}

.field{
	p{ display: inline; }
	.ghost{ margin: 25px 0 0px; display: block; vertical-align: center;}
}