$sm: 768px;
$md: 992px;

.menu-toggle{display: none}
.menu-open, .xs-appear {display: none;}
.local-switch{ display: none !important }
@media(min-width: 768px){
	.modal-dialog{
		max-width: 760px;
	}
}
 // RAW 640-768px
	.md-up, .xmd-up {
		display: none
	}

 @media(max-width: 768px) and (min-width: 640px){
	.results{ width: 570px }
	// h3{margin: 80px 0 50px}
	// p{margin: 50px 0 80px}
	.banner{margin: 0 0 100px;}
	.program{margin: 0 auto 60px}
	.partners-parent{ margin: 50px 0 0; }
	.partners{
		padding: 40px 0;
		h3{margin: 10px 0 0}
	 }
	.md-up{ display: block; }
	.md-gone{display: none}
	.float-left{max-width: 195px}

		.registration{
			h3{ margin: 80px 0 20px }
			.container-fluid{padding: 0 50px;}
			.col{width: 33%; float: left; margin: 10px auto; height: 60px;}
			.submit{ margin: 0 0 30px }
		}

 }

@media(max-width: 992px) and (min-width: 640px){
	.xmd-gone {display: none}
	.xmd-up {display: block}

	.no-list{
		margin-top: 0;
		padding: 0;
		li{margin-left: 10px; float: right}
	}
}

// GENERAL RDW <640px

  @media(max-width: 640px){
	.new_newsaddresse{ margin-bottom: 30px; margin-top: 40px }
	.contest_gallery{margin-bottom: -40px;}
  	.results{
  		width: 280px;
		margin: 0 auto 37.5px;
	}
	.result-serial{margin-right: 10px;}
  	h2{ font-size: 45px; margin: 0 }
   	// h3{ margin: 40px 0 30px; }
	.archive h3 {
		margin: 40px 0 30px
	}
	.xs-appear{display: inline}
   	p {
   		// margin: 30px 0 40px;
   		font-size: 16px;
   		line-height: 28px
   	}
  	.banner{margin: 0 0 100px;}
		.footer .row{margin: 0; }
		.program{margin: 0 0 40px; width: 100%; text-align: left}

		.program td{ width: 100%; display: block; text-align: left !important}
		.partners-parent{ margin: 30px 0 0;
			.partner img{max-width: 65px; margin-bottom: 20px}
		}
		.partners{
			h3{margin: 20px 0 0}
		}
		.float-left, .float-right{ float: none; text-align: center; margin: 0 }

		.xs-gone{ display: none !important; }

		.footer{
			padding: 0;
			.container{ padding: 30px 0;}
			ul{padding: 0; display: flex; justify-content: center ; margin: 20px 0 20px;}
			p
			{
				text-align: center;
				a{font-size: 10px}
			}
			.row:nth-child(2){
				p,a{font-size: 10px;}
			}
		}
		.simple-footer{
			.container{padding: 0;}
			ul{margin-top: 0;}
			p,a{font-size: 10px}
		}
		.no-list li{ margin: 0 6px; }
		.registration .field{width: 100%; padding: 0 3px 20px;}
		.registration{
			padding: 0 10px;
			h3{ margin: 40px 0 20px }
			.container-fluid{padding: 0 50px;}
			label{font-size: 11px;}
			.ghost{margin: 20px 0}
			.col{padding: 0 !important; margin: 10px auto; width: 210px; height: 60px;}
			.submit{
				padding: 25px 5vw;
				margin: 0 0 30px;
		    		letter-spacing: 3px;
		    		font-size: 14px;
			 }
		}

		.Contact {
			.ghost{left: 7px}
			.field{margin: 0}
			input{width: 100%; max-width: 420px !important; margin-left: 0 !important}
			input:nth-child(3){margin-top: 20px;}

			.paragraph{
				overflow: hidden;
				div{
					width: 100%;
					float: left;
					p{text-align: center; margin: 0 0 30px; font-size: 14px; line-height: 23px }
					a::after{ content: " | "; display: inline; padding: 0 5px }
					a:last-child::after{ content: ""; display: inline; padding: 0 5px }
				}
			}
			#map{ height: 80vh }
		 }

		 .pink-button{
		 	padding: 25px 10vw;
			margin: 40px 0 30px;
		 }

	#archiveModal .absoluteRecord{ top: 40px }
 }


//body transition class
.content{
	transition: .9s cubic-bezier(.27,0,.175,1);
	position: relative;
	opacity: 1;
	right: 0;
 }
.slide-left{opacity: 0;}
.backdrop.slide-left{opacity: 1;}

@media(max-width: 768px){
	ul.nav{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
	}

body{

		.logo{display: inline-block;}
		.local-switch{display: block !important}
		.menu-toggle{
			background: transparent;
			border: 0;
			display: block;
			position: fixed;
			right: 30px;
			top: 38px;
			z-index: 5;
			&:focus{outline: 0}
			transition: .9s cubic-bezier(.27,0,.175,1);
		}

		.menu-toggle.is-visible{display: block}

		.menu-open{
			right: 20px;
			top: 35px;
			border: 0;
			display: inline-block;
			background: transparent;
			position: absolute;
		}

		.nav-menus{
			padding-top: 40px;
			opacity: 0;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 20vh;
			left: 0;
			z-index: -1;
			transition: .9s cubic-bezier(.77,0,.175,1);


			.localization-menu{
				display: none;
			 	margin-top: 15vh;
				margin-bottom: 8vh;
				line-height: 14px;
				text-align: center;
				li:first-child{ display: none; }

				li:nth-child(2){ text-align: right; }
				li:nth-child(2):after{ text-align: right; }
			 li{
			 	float: left;
			 	text-align: left;
			 	width: 50%;
				a{
					line-height: 14px !important;
					padding: 10px;
					color:black;
					&:hover{color:#BDCCD4}
				}
			 }
			} // end localiztation menu

			li{
				text-align: center;
				a{
					line-height: 60px !important;
					font-size: 20px;
					&:hover{ color: #BDCCD4 }
				}
			}
		}

		.slide-menu{opacity: 1; z-index: 4; top: 0}
	}
}

@media(min-width: 1140px){
	.modal-dialog{
		max-width: 1130px;
	}
}

@media(min-width: 992px){
	.modal-dialog{
		max-width: 990px;
	}
}


// POSTER SCALING
@media(min-width: 768px){
	.posterlg{
		display: block;
		max-height: 100vh;
		max-width: 100%;
		margin: 0 auto;
}
	.postermd, .postersm{display: none;}
}

@media(max-width: 768px){
	.postermd{
		display: block;
		max-height: 100vh;
		max-width: 100%;
		margin: 0 auto;
	}
	.postersm, .posterlg{display: none;}

	.registration .close{
		top: 30px;
		right: 30px;
	}

	.mockupButton{top: 20px}
}

@media( max-width: 640px ){
	.posterlg, .postermd{display: none}

	.postersm{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}


}

//BANNER SCALING

@media(min-width: 960px){
	.bannerls{display: block;}
	.bannermd, .bannersm, .bannerxs{display: none}
}

@media(max-width: 960px){
	.bannermd{display: block;}
	.bannerlg, .bannersm, .bannerxs{display: none}
}

@media(max-width: 768px){
	.bannersm{display: block;}
	.bannerlg, .bannermd, .bannerxs{display: none}
}

@media(max-width: 640px){
	.bannerxs{display: block;}
	.bannermd, .bannersm, .bannerlg{display: none}
}

@media(max-width: 992px) and (min-width: 640px){
	.modal-content{ margin: 0 0 0 30px;	 }
}

@media(max-width: 690px){
	.archive-one{

		padding-top: 60px;
	}
}

