<hr>
<div class="container">
	<div class="row">
		<div class="col-md-20 col-md-offset-2 partners">
			<% @partner_categories.each do |category| %>
				<div class="partner-category">
					<h3> <%= locale == :en ? category.name : category.namePl %> </h3>
					<div class="partners">
						<% category.partners.order(order: :asc).each do |partner| %>
							<%= image_tag partner.image_url, class: 'partner' %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	function evenOut(){
		$('.partners-parent').children().each( function(idx, partner){
			$(partner).css('width', '25%' );
			if( idx != 0 && idx % 6 == 0 ){ $(partner).css('margin-right', '0.1px') }
		} )
	}

	evenOut();
</script>
