<div class="container">	
	<div class="row section-program">

	<h3> PROGRAM </h3>
		<div class=" col-xs-20 col-xs-offset-2 col-sm-14 col-sm-offset-5 program">
			
			<div class="row table-row">
				<% Event.all.order(:order).each do |event| %>
					<div class="col-sm-12 program-left">
						<%= raw(event.timedate)  %>
					</div>
					<div class="col-sm-12 program-right">
						<%= raw(event.description)  %>
					</div>
				<% end %>
			</div>

		</div>
	</div>
</div> <!-- end container -->
