<div class="container">
  <div class="row">
  	<%= link_to button_tag(  t('register') , :class => "register-button pink-button button", data: {toggle: "modal", target: "#myModal"} ), new_registration_path %>
  </div>

  <div id="myModal" class="modal registration-modal fade" data-backdrop="false">
    <div class="modal-dialog registration">
    	<div class="registration row ">
        <button type="button" class="close" data-dismiss="modal">
          <span class="xs-gone" > <%=  t( "close" ) %></span>
          <span> <%= inline_svg('X.svg') %></span>
        </button>
        <%= render 'layouts/registration_form' %>
      </div>
    </div>
  </div>
</div>

<script>
	backdrop( $('.register-button') );
</script>
